extends layout.pug

block content
  nav.nav
    a(href='/')
      span &larr;
      |  Back
    h1.portfolio-intro= `${error.message} - Status: ${error.status}`
    p.portfolio-intro The requested URL does not exist. Please try another url or click back to go back to the homepage.

    nav.nav
      a(href='/')
        span &larr;
        |  Back