extends layout.pug

block content

  article.portfolio-intro
    h1 Lyndsay Futrell's Portfolio
    p My portfolio from the fullstack Javascript Tech Degree.

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name} thumbnail`)
            h5= project.project_name 

